.sprite-button {
  width: 80%;
  border: none;
  background: none;
}

.sprite-img {
  /* pixelated for default, crisp-edges as the fallback */
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  width: 80%;
  height: auto;
}
