.sprite-img {
  border-radius: 1rem;
  align-self: center;
  image-rendering: pixelated;
  width: 300px;
  cursor: pointer;
}

.sprite-img.fade {
  animation: fade-sprite 0.5s;
}

@keyframes fade-sprite {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
