.stats-container {
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  font-weight: bold;
}

.stat-bar {
  border-radius: 5px;
  height: 1ch;
  background-color: rgb(210, 210, 210);
  margin: 0.5rem;
}

.stat-bar-stat {
  border-radius: 5px;
  height: 100%;
  background-color: darkcyan;
}
