.typing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 0.5rem;
}

.type-container {
  border-radius: 8px;
  display: grid;
  place-content: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bolder;

  padding: 0.2rem;
  width: 100%;
  color: white;
}

/*
|| TYPE COLORS
Hexcodes obtained from: https://gist.github.com/apaleslimghost/0d25ec801ca4fc43317bcff298af43c3
*/

.normal-type {
  background-color: #a8a77a;
  color: white;
}

.fire-type {
  background-color: #ee8130;
  color: white;
}

.water-type {
  background-color: #6390f0;
  color: white;
}

.electric-type {
  background-color: #f7d02c;
  color: black;
}

.grass-type {
  background-color: #7ac74c;
  color: black;
}

.ice-type {
  background-color: #96d9d6;
  color: black;
}

.fighting-type {
  background-color: #c22e28;
  color: white;
}

.poison-type {
  background-color: #a33ea1;
  color: white;
}

.ground-type {
  background-color: #e2bf65;
  color: black;
}

.flying-type {
  background-color: #a98ff3;
  color: white;
}

.psychic-type {
  background-color: #f95587;
  color: white;
}

.bug-type {
  background-color: #a6b91a;
  color: black;
}

.rock-type {
  background-color: #b6a136;
  color: white;
}

.ghost-type {
  background-color: #735797;
  color: white;
}

.dragon-type {
  background-color: #6f35fc;
  color: white;
}

.dark-type {
  background-color: #705746;
  color: white;
}

.steel-type {
  background-color: #b7b7ce;
  color: black;
}

.fairy-type {
  background-color: #d685ad;
  color: white;
}
